.page {
  background-image: linear-gradient(rgba(0, 0, 0, 0.849), rgba(0, 0, 0, 0.701)),
    url(../images/canteiro\ de\ obras.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 1280px;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}
