.hero {
  width: 90%;
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 20px;
}

.hero__image {
  border-radius: 30%;
  max-width: 90%;
  height: auto;
  object-fit: cover;
}

.hero__text {
  width: 100%;
  color: white;
  text-align: center;
  font-size: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
