.hero {
  max-width: 700px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 0px;
  row-gap: 0px;

  margin: 0 auto;
  padding: 0;

  width: 80%;
}

.hero__image {
  border-radius: 30%;
  max-width: 150px;
  height: auto;
  object-fit: cover;
  margin: 0 auto;
  padding: 0;
}

.hero p {
  color: white;
  text-align: center;
  font-size: 15px;
  line-height: 20px;
  font-family: "Space Grotesk", sans-serif;
  margin: 0;
  padding: 0 10px;
}

@media screen and (max-width: 1024px) {
  .hero {
    width: 100%;
  }
}

@media screen and (max-width: 544px) {
  .hero {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
  }
  .hero__image {
    width: 100px;
    margin-bottom: 10px;
  }

  .hero p {
    font-size: 10px;
    line-height: 16px;
    width: 80%;
    text-align: center;
    margin: 0 auto;
  }
}
