.marketing {
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
  margin: 15px 0;
  padding: 0;
}

.marketing__title {
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 12px;
  background-color: rgb(126, 73, 3);
  font-family: "Space Grotesk", sans-serif;
  padding: 5px 0;
}

@media screen and (max-width: 1024px) {
  .marketing {
    width: 100%;
  }
}

@media screen and (max-width: 544px) {
  .marketing {
    width: 100%;
  }
  .marketing__title {
    margin-bottom: 12px;
  }
}
