.marketing {
  display: grid;
  grid-template-columns: 1fr;
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 10px 10px;
  box-sizing: border-box;
}

.marketing__title {
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 1.3rem;
  background-color: rgb(126, 73, 3);
  font-family: "Space Grotesk", sans-serif;
  padding: 5px 0;
  border-radius: 10%;
}

@media screen and (min-width: 780px) {
  .marketing__title {
    font-size: 1.7rem;
  }
}
