.marketing {
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
  margin: 0 auto;
  row-gap: 15px;
}

.marketing__title {
  color: white;
  margin: 0;
  text-align: center;
}

.marketing__paragraph {
  color: white;
  margin: 0;
  text-align: center;
}
