.cards-projects {
  width: 90%;
  margin-top: 40px;
}

.cards-projects__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 20px;
}

.cards-projects__item {
  width: 90%;
}

.cards-projects__image {
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
}
