.projects {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    "fotocasa fotobombeiro fotoapartamento"
    "textocasa textobombeiro textoapartamento";
  margin: 0;
  padding: 0;
  width: 100%;
}

.projects__images--fotocasa {
  grid-area: fotocasa;
}

.projects__text--casa {
  grid-area: textocasa;
}

.projects__images--bombeiro {
  grid-area: fotobombeiro;
}

.projects__text--bombeiro {
  grid-area: textobombeiro;
}

.projects__images--apartamento {
  grid-area: fotoapartamento;
}

.projects__text--apartamento {
  grid-area: textoapartamento;
}

.projects__images {
  border-radius: 30%;
  height: auto;
  object-fit: cover;
  margin: 0 auto;
  max-width: 150px;
  height: auto;
}

.projects__text {
  color: rgb(255, 255, 255);
  margin: 0 auto;
  text-align: center;
  font-size: 15px;
  font-family: "Space Grotesk", sans-serif;
  width: 70%;
  padding-top: 10px;
}

@media screen and (max-width: 1024px) {
  .projects {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
      "fotocasa fotobombeiro fotoapartamento"
      "textocasa textobombeiro textoapartamento";
    margin: 0;
    padding: 0;
    width: 100%;
  }
}

@media screen and (max-width: 544px) {
  .projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "fotocasa textocasa"
      "fotobombeiro textobombeiro"
      "fotoapartamento textoapartamento";
    margin: 0;
    padding: 0;
    width: 100%;
  }

  .projects__images {
    margin: 10px auto;
    max-width: 120px;
    height: auto;
  }

  .projects__text {
    line-height: 15px;
    font-size: 10px;
    width: 70%;
    padding-top: 10px;
  }
}
