.ana {
  display: flex;
}

.ana__cards {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.ana__cards-block {
  width: 450px;
  height: 600px;
  border-radius: 60px;
  padding: 40px 40px;
  margin: 0;
  padding: 0;
}

.ana__cards-span {
  display: block;
}

.ana__cards-text {
  color: white;
  text-align: center;
  font-size: 3em;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

.ana__cards-block.ana__cards-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
