.cards-projects {
  width: 100%;
  max-width: 1280px;
  margin: 20px auto;
  padding: 0 20px;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  column-gap: 15px;
}

.cards-projects__image {
  border-radius: 40%;
}
