.card {
  position: relative;
}

.card__text {
  display: none;
}

.card__like-button {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 25px;
  height: 25px;
}

.card__like-button::after {
  content: "♡";
}

.like__button-is-off {
  background-color: rgba(0, 0, 0, 0.003);
  border: 0.3px solid white;
}

.like__button-is-on {
  background-color: rgb(255, 0, 0);
  border: 0.3px solid rgba(0, 0, 0, 0.342);
}

.like__button-is-on::after {
  color: red;
}
