.span-class {
  color: rgb(255, 255, 255);
}

.sub-button-is-on {
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  border: 3px solid rgb(0, 0, 0);
}

.sub-button-is-off {
  color: rgb(58, 57, 57);
  background-color: rgb(123, 121, 121);
  border: 1px solid rgb(118, 115, 115);
}
