.span-class {
  color: rgb(255, 255, 255);
}

.sub-button-is-on {
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  border: 1px solid rgba(0, 0, 0, 0.619);
}

.sub-button-is-off {
  color: rgba(58, 57, 57, 0.373);
  background-color: rgba(253, 253, 253, 0.405);
  border: 1px solid rgb(118, 115, 115);
}
