.footer {
  width: 100%;
  margin: 0 auto;
  padding: 50px 10px;
  box-sizing: border-box;

  background-color: rgba(183, 177, 4, 0.564);
  clip-path: ellipse(120% 100% at 50% 100%);
}

.footer__containers {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  max-width: 1000px;
  padding: 0;
  gap: 80px;
}

.footer__logos {
}

.footer__logos_image {
  max-width: 50px;
  height: auto;
}

.footer__contacts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.footer__contacts_link {
  text-decoration: none;
  font-size: 1rem;
}

.footer__newsletter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.footer__newsletter_text {
  margin: 0;
  padding: 0;
  font-size: 1.5rem;
  color: rgba(0, 0, 0, 0.564);
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.footer__newsletter_subscribe-button {
  padding: 5px;
}

.footer__newsletter_subscribe-button p {
  font-size: 12px;
}

.footer__copyright {
  margin: 0;
  padding: 50px 0px 0px 0px;
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.564);
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
}

@media (max-width: 768px) {
  .footer__containers {
    flex-direction: column;
    gap: 20px;
    padding: 0 10px;
  }

  .footer__copyright {
    padding-top: 20px;
  }

  .footer__newsletter_text {
    font-size: 1.1rem;
  }

  .footer__logos_image {
    width: 32px;
  }
}
