.formulario {
  width: 100%;
  margin: 0 auto;
  padding: 40px 0px;
  box-sizing: border-box;
  background-color: rgba(183, 177, 4, 0.564);
  clip-path: ellipse(120% 100% at 50% 0%);
}

.formulario__title-text {
  font-size: 2rem;
  color: rgba(0, 0, 0, 0.548);
  text-align: center;
  margin: 0 auto;
  padding: 5px 5px;
  border-radius: 10%;
}

.formulario__form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 100%;
  max-width: 500px;
  padding: 0;
  box-sizing: border-box;
}

.formulario__form-label {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.4;
  margin: 0;
  padding: 15px 0 0 0;
  color: rgba(0, 0, 0, 0.592);
}

.formulario__form-input {
  min-height: 44px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1rem;
  line-height: 1.4;
  margin: 0;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.521);
}

.formulario__form-checkbox {
  display: flex;
  margin: 0;
  padding: 10px 0;

  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 0.8rem;
  line-height: 1.4;
}

.formulario__form-checkbox-button {
  height: 1rem;
  width: 1rem;
  margin-right: 8px;
}

.formulario__form-checkbox-label {
  color: rgba(0, 0, 0, 0.488);

  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.1rem;
  line-height: 1.4;
}

.formulario__form_button {
  width: 100%;
  padding: 12px;
}

@media (max-width: 768px) {
  .formulario {
    padding: 10px 0px 80px;
  }

  .formulario__form_button {
    width: 40%;
    padding: 5px;
  }

  .formulario__title-text {
    width: 90%;
  }

  .formulario__form {
    width: 90%;
  }
  .formulario__form-label {
    width: 90%;
  }
  .formulario__form-input {
    width: 90%;
  }

  .formulario__form-checkbox {
    width: 100%;
  }

  .formulario__form-checkbox-button {
    width: 100%;
  }

  .formulario__form-checkbox-label {
    width: 50%;
  }
}
