.formulario {
  width: 100%;
  margin: 0 auto;
  padding: 20px 0px;
  box-sizing: border-box;
  background-color: rgba(183, 177, 4, 0.564);
}

.formulario__title-text {
  font-size: 2rem;
  color: rgba(0, 0, 0, 0.548);
  text-align: center;
  margin: 0 auto;
  padding: 0;
  border-radius: 10%;
}

.formulario__form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 80%;
  padding: 0;
  box-sizing: border-box;
}

.formulario__form-label {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.4;
  margin: 0;
  padding: 15px 0 0 0;
  color: rgba(0, 0, 0, 0.592);
}

.formulario__form-input {
  margin: 0;
  padding: 10px 12px;
  width: 100%;
  min-height: 44px;

  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1rem;
  line-height: 1.4;

  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.521);
}

.formulario__form-checkbox {
  display: flex;
  margin: 0;
  padding: 10px 0;

  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 0.9rem;
  line-height: 1.4;
}

.formulario__form-checkbox-button {
  height: 1rem;
  width: 1rem;
  margin-right: 8px;
}

.formulario__form-checkbox-label {
  color: rgba(0, 0, 0, 0.488);

  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 0.9rem;
  line-height: 1.4;
}

.formulario__form_button {
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .formulario__form {
    max-width: 600px;
  }
}
