.page {
  background-image: linear-gradient(rgba(0, 0, 0, 0.849), rgba(0, 0, 0, 0.5)),
    url(../images/canteiro\ de\ obras.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
