.popup {
  width: 100%;

  font-family: "Inter", Arial, sans-serif;
  align-items: center;
  justify-content: center;
  background-color: rgba(15, 0, 70, 0.5);

  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  display: flex;
  z-index: 1;
  visibility: hidden;
  pointer-events: none;

  opacity: 0;
  transform: scale(0.9);
  transition: all 0.3s ease;
  backdrop-filter: blur(5px);
}

/*OPEN IMAGE POPUP*/

.popup_is-opened {
  opacity: 1;
  transform: scale(1);
  visibility: visible;
  pointer-events: auto;
}

.popup__content_content_image {
  max-width: 75vw;
  max-height: 75vh;
  height: auto;
  width: auto;
  display: flex;
  background: transparent;
  border-radius: 0;
  padding: 0;
}

.popup__image {
  max-width: 80vw;
  max-height: 60vh;

  object-fit: cover;
  filter: brightness(0.3);
  border-radius: 20px;
}

/*CLOSE POPUP BUTTON*/
.popup__content {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-close {
  position: absolute;
  top: -40px;
  right: 20px;
  background: transparent;
  border: none;
  cursor: pointer;
  z-index: 2;
  padding: 4px 4px;
  border: 1px solid white;
}

/*POPUP TEXT*/
.popup__text {
  width: 80%;

  font-size: 0.5rem;
  text-align: center;
  line-height: 2;
  color: rgba(255, 255, 255, 0.756);
  font-family: Georgia, "Times New Roman", Times, serif;

  position: absolute;
}

/*tablet */
@media (min-width: 768px) {
  .popup__text {
    font-size: 0.7rem;
  }
}
/* desktop*/
@media (min-width: 1024px) {
  .popup__text {
    font-size: 0.8rem;
  }
}
/*big screen*/
@media (min-width: 1440px) {
  .popup__text {
    font-size: 1.1rem;
  }
}
