.projects {
  width: 100%;
  margin: 0 auto;
  padding: 20px 0px;
  background-color: rgba(183, 177, 4, 0.564);
}

.projects__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;

  justify-items: center;
  justify-content: center;

  max-width: 100%;
  margin: 0 auto;
  padding: 0px 10px;
}

.projects__grid_image {
  max-width: 200px;
  max-height: 150px;
  width: 100%;
  height: 100%;

  border-radius: 20px;
  box-shadow: 2px -2px 20px rgba(21, 12, 0, 0.514);
  display: block;
}

.projects__grid_image:hover {
  box-shadow: 2px 2px 30px rgb(0, 0, 0);
  cursor: pointer;
}

.projects__grid_text {
  font-size: 1rem;
  max-width: 80%;
}

/*------------------------------------------------------------------*/

/*tablet */
@media (min-width: 768px) {
  .projects__grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .projects__grid {
    max-width: 50%;
  }
}
/* desktop*/
@media (min-width: 1024px) {
}
/*big screen*/
@media (min-width: 1440px) {
}
