.projects {
  width: 100%;
  margin: 0 auto;
  padding: 0px 0px 40px;
}

.projects__grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 40px;

  justify-items: center;
  justify-content: center;

  max-width: 100%;
  margin: 0 auto;
  padding: 0;
}

.projects__grid_image {
  max-width: 200px;
  max-height: 150px;
  width: 100%;
  height: 100%;

  border-radius: 20px;
  box-shadow: 2px -2px 20px rgba(21, 12, 0, 0.514);
  display: block;
}

.projects__grid_image:hover {
  border: 4px solid rgba(2, 0, 0, 0.5);
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.522);
  cursor: pointer;
}

.projects__grid_text {
  font-size: 1rem;
  max-width: 80%;
}

/*tablet */
@media (min-width: 768px) {
  .projects__grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .projects__grid {
    max-width: 50%;
  }
}
/* desktop*/
@media (min-width: 1024px) {
  .projects__grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
/*big screen*/
@media (min-width: 1440px) {
}
