.store {
  width: 100%;
  margin: 0 auto;
  padding: 50px 0px;
}

.store__images-grid {
  background-color: rgba(31, 31, 31, 0.186);
  width: 60%;
  margin: 0 auto;
  padding: 10px 10px;
  border-radius: 20px;
  overflow: hidden;
}

.store__track {
  display: flex;
  gap: 20px;
  transition: transform 0.3s ease;
}

.store__image {
  width: 33.33%;
  border-radius: 10px;
  box-shadow: 2px -2px 20px rgba(152, 87, 2, 0.274);
}

.store__title {
  color: rgba(0, 0, 0, 0.345);
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1rem;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

/*tablet */
@media (min-width: 768px) {
  .store__title {
    font-size: 1.4rem;
  }
}
/* desktop*/
@media (min-width: 1024px) {
}
/*big screen*/
@media (min-width: 1440px) {
}
